certifi==2023.5.7; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
charset-normalizer==3.1.0; python_full_version >= "3.7.0" and python_version >= "3.7"
coloredlogs==15.0.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
dataclasses-json==0.5.8; python_version >= "3.6"
decorator==5.1.1; python_version >= "3.5"
dnspython==2.3.0; python_version >= "3.7" and python_version < "4.0"
humanfriendly==10.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
idna==3.4; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
marshmallow-enum==1.5.1; python_version >= "3.6"
marshmallow==3.19.0; python_version >= "3.7"
mypy-extensions==1.0.0; python_version >= "3.6"
packaging==23.1; python_version >= "3.7"
parse==1.19.1
pyaes==1.6.1; python_version >= "3.7" and python_version < "4.0"
pyreadline3==3.4.1; sys_platform == "win32" and python_version >= "3.8" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0")
pyrogram==2.0.106; python_version >= "3.7" and python_version < "4.0"
pysocks==1.7.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0"
pyyaml==6.0; python_version >= "3.6"
requests-toolbelt==1.0.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
requests==2.31.0; python_version >= "3.7"
tgcrypto==1.2.5; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.6.3; python_version >= "3.7"
typing-inspect==0.9.0; python_version >= "3.6"
urllib3==2.0.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
validators==0.20.0; python_version >= "3.4"
